body {
    background-color: #202020;
    margin: 10px;
}
div.container {
    background-color: #303030 !important;
    box-shadow: none !important;
    color: #d2d2d2 !important;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 800px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 260px; */
    /* min-height: 0px; */
    background: #fff;
    padding: 0 0.5em;
    border: 0px;
}
h4 {
    color: #aeaeae;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 0.85714286rem;
    font-family: 'Avenir';
    text-align: center;
    margin-top: 2px;
    line-height: normal;
}
.progress {
    background-color: #272727 !important;
    width: 100%;
    font-size: 0.5rem
}
.cat-title {
    color: #fbb700 !important;
    width: 50%;
    font-weight: 500;
    font-size: 0.85714286rem;
    text-transform: uppercase;
    text-align: left;
    float: left;
}
.amount {
    text-align: right;
    float: right;
}
div.income .amount {
    color: #21ba45 !important
}
.income {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
/* a .refresh-icon {
    color: #aeaeae;
    background-color: #aeaeae;
    color
    font-size: 1.5em;
    width: 10%;
} */
.refresh-icon {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    width: 50px;
}
.subgroup {
    margin-left: 20px;
    width: calc(100% - 20px) !important;
}